<h2>Pré-agendamento</h2>

<form action="/Home/Confirmacao" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Nome</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="Nome" placeholder="Nome">
  </div>
<div class="form-group">
    <label for="exampleFormControlInput1">Telefone</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" name="Telefone" placeholder="(48)">
</div>
<p>
    <label>Data</label>
    <input type="datetime-local" name="Data" />
</p>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Animal</label>
    <select class="form-control" name="Animal" id="exampleFormControlSelect1">
      <option>Selecione</option>
      <option>Gato</option>
      <option>Cachorro</option>
      <option>Aves</option>
      <option>Répteis</option>
      <option>Roedor</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Necessidade</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="Necessidade" rows="3"></textarea>
  </div>
<p>
    <input type="submit" value="Enviar" />
</p>

</form>