@model Agendamento

<h2>Confirmação do agendamento</h2>

<p>Nome: @Model.Nome</p>
<p>Telefone: @Model.Telefone</p>
<p>Data: @Model.Data</p>
<p>Animal: @Model.Animal</p>
<p>Necessidade: @Model.Necessidade</p>