﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">PetVet</h1>
    <p>Bem vindo ao site da PetVet</p>
    <img class="banner" src='@Url.Content("~/images/petvet_index.jpg")' alt="PetVet" />
</div>

<div class="mt-3">
    <p>A PetVet é uma das maiores redes varejistas voltadas especialmente para os cuidados do animal de estimação e a pioneira em trazer o conceito de shopping para animais ao Brasil. Com aproximadamente 20 mil itens para cachorros, gatos, aves, roedores, peixes, artigos para casa e jardim. Onde você e seu pet podem fazer suas compras com mais segurança, economia e conforto.
    </p>
</div>

